/*custom style starts here!*/

.rr-main-table {
	min-width: 300px;
	max-width: 600px;
	background: #ffffff;
	font-family:inherit !important;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1.6em;
	color: #3c3c3c;
	font-size: 13px;
	border-collapse: collapse;
}

.rr-main-row {
	background-color: #96588a;
}
.rr-main-col {
	padding: 15px 0px;
}
h3.rr-main-heading {
    font-family:inherit !important;
}
.rr-inner-table {
	max-width: 600px;
	padding: 8px 0px;
	table-layout: fixed;
}
tr.rr-main-row {
    background: #96588a !important;
}

 [ren-data-tooltip]:before {
   
    content: attr(ren-data-tooltip);
    position: absolute;
    opacity: 0;
       
    /* transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53); */
    padding: 10px 75px;
    color:white;
    border-radius: 3px;
    box-shadow: 1px 1px .5px silver;    
    max-width: 150px;
}
[ren-data-tooltip]:hover:before {

    opacity: 1;
    
    background: #383838;
    margin-top: 16px;
	margin-left: -150px; 
	font-size: 11px   
}
[ren-data-tooltip]:not([ren-data-tooltip-persistent]):before {
    pointer-events: none;
}

.adm-tooltip-renew-rem {
    background: #666;
    height: 13px;
    width: 13px;
    border-radius: 50%;
	color: white;
	font-size: 11px;
	text-align: center;
    z-index: 9999999;
}


textarea#froala-editor {
    width: 515px;
}
input.renew-admin_email_subj {
    width: 515px;
}
h1.renew-rem-makin-title {
    color: #23282d;
    font-size: 2em;
    margin: 1em 0;
}
span.renew-rem-by-text {
    float: right;
    margin-top: -46px;
}

p.rr-content-text {
    white-space: pre-line !important;
}
hr.rr-footer-rule {
    border-top: 2px solid #96588a;
	margin: 8px 58px 8px 58px;
}

p.rr-content-text {
    margin: 25px 30px 27px 25px;
}
p.rr-brand-text {
    text-align: center;
	color: #8A8A8A;
    text-shadow: 2px 2px white;
	font-size: 10px;
}

a.rr-brand-link {
    text-decoration: none;
	font-size: 13px;
	color: #8A8A8A !important;
	
}
p.notice-rem-text {
    font-size: 11px !important;
    font-weight: 600;
    font-style: italic;
}

/*css end*/

/*loaader*/

.renew-spin-meter {
    box-sizing: content-box;
    height: 12px; /* Can be anything */
    position: relative;
    /* margin: 60px 0 20px 0; Just for demo spacing */
    background: #555;
    border-radius: 80px;
    /* padding: 10px; */
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .renew-spin-meter > span {
    display: block;
    height: 100%;
    border-radius: 80px;
    background-color: rgb(98 185 235);
   
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .renew-spin-meter > span:after,
  .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  
  
  #renew-rem-page-wrap {
    width: 490px;
    margin: 10px auto;
  }
  .renew-rem-progress {
    margin: 10px auto;
    min-height: 12px;
}
 
  /*css for default sync page*/
  .renew-main-sync-box {

    margin: auto;
    margin-top: 25px;
    width: 50%;
    border: 1px solid #c3c4c7;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

/*button style*/

.renew-rem-button-sect {
    margin: 2%;
    text-align: center;
}


.adm-tooltip-renew-rem:hover {
    background: black;
}

.renew-rem-button-sect {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .renew-firstload {
    width: 203px;
    height: 45px;
   
    font-size: 12px;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: 2.5px;
    font-weight: 500;
   
   
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    background: #2271b1;
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    }
  
  .renew-firstload:hover {
    background-color: #a07c44;
    box-shadow: 0px 15px 20px #a07c44;
    color: #fff;
    transform: translateY(-7px);
  }

  div#wpfooter {
    bottom: auto !important;
}

.ren-completed-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px auto;
    font-weight: 900;
}

.renew-text {
    padding-top: 85px;
    padding-bottom: 10px;
}

.re-compare-bar-tabs {
    padding-bottom: 70px;
    padding-top: 20px;
}

.renew-rem-button-sect-default {
    padding-top: 100px;
}

.re-compare-bar-tabs-sync {
    padding-bottom: 50px;
    padding-top: 30px;
}

h3.rr-notification-title {
    font-size: 20px !important;
}



/*custom style end -1.0.4*/